body {
  font-family: "Muli", sans-serif;
}

p {
  color: rgb(117, 117, 117);
}

.header {
  height: 620px;
  background-image: url("../img/header-backround2-change.jpg");
  background-size: cover;
  background-position: 50% 68%;
}

.header-navbar-links {
  color: white;
  float: right;
  margin-top: 50px;
}

.header-navbar-links li {
  float: left;
  list-style-type: none;
  margin-left: 26px;
  text-shadow: 0px 0px 1px black;
}

.header-brand-wrapper {
  margin-top: 50px;
  float: left;
}

.header-brand {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
  margin-top: -9%;
  display: block;
  text-shadow: 0px 0px 2px black;
}

.slogan {
  padding-top: 145px;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 2px black;
}

.slogan-top {
  font-size: 170%;
  font-weight: lighter;
}

.slogan-bottom {
  font-size: 250%;
  font-weight: bold;
}

.slogan-buttom {
  margin-top: 12px;
  color: white;
  text-shadow: 0px 0px 2px black;
}

.slogan-buttom:hover {
  color: white;
  text-shadow: 0px 0px 2px black;
}

.service {
  padding-top: 100px;
  padding-bottom: 75px;
}

.service-gray {
  background-color: rgb(250, 250, 250);
}

.service-titled {
  font-weight: lighter;
  color: rgb(30, 30, 30);
}

.service-icon {
  color: rgb(224, 224, 224);
  font-size: 1800%;
  text-align: center;
  margin-top: -20%;
  margin-bottom: -10%;
}

.feature {
  padding-top: 100px;
  padding-bottom: 10px;
}

.feature2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.feature3 {
  padding-top: 10px;
  padding-bottom: 100px;
}

.feature-icon {
  width: 70px;
  height: 60px;
  padding-top: 10px;
  background-color: rgb(30, 30, 30);
  border-radius: 35px;
  color: rgb(250, 250, 250);
  text-align: center;
  font-size: 30px;
  float: left;
}

.feature-text {
  margin-left: 95px;
}

.feature-text h5 {
  font-size: 150%;
  margin-bottom: 8px;
  color: rgb(30, 30, 30);
}

.clients {
  padding-top: 100px;
  padding-bottom: 75px;
  background-color: rgb(250, 250, 250);
}

.clients-heading {
  font-weight: lighter;
  margin-bottom: 0px;
  text-align: center;
}

.clients-subheading {
  text-align: center;
}

.client-image {
  width: 100%;
  border-radius: 10000px;
  border: 5px solid rgb(250, 250, 250);
}

.client-quote {
  border: 2px solid rgb(235, 235, 235);
  background-color: rgb(250, 250, 250);
  padding-top: 35px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 45px;
  border-radius: 3px;
  font-size: 150%;
  font-weight: lighter;
  font-style: italic;
}

.client-quote p {
  margin-bottom: 5px;
}
.client-quote-author {
  font-style: normal;
  font-size: 70%;
  color: rgb(119, 147, 197);
}
