/**
*Haeder - Bereich 
*/
.header {
  height: 620px;
  background-image: url("../img/header-backround2-change.jpg");
  background-size: cover;
  background-position: 50% 68%;
}
.header-navbar-links {
  color: white;
  float: right;
  margin-top: 50px;
}
.header-navbar-links li {
  float: left;
  list-style-type: none;
  margin-left: 26px;
  text-shadow: 0px 0px 1px black;
}
.header-navbar-links a {
  color: white;
  text-decoration: none;
}
.header-navbar-links a:hover {
  color: rgb(200, 200, 200);
  text-decoration: underline;
  transition: 0.5s;
}
.header-brand-wrapper {
  margin-top: 50px;
  float: left;
}
.header-brand {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
  margin-top: -9%;
  display: block;
  text-shadow: 0px 0px 2px black;
}
.slogan {
  padding-top: 145px;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 2px black;
}
.slogan-top {
  font-size: 170%;
  font-weight: lighter;
}
.slogan-bottom {
  font-size: 250%;
  font-weight: bold;
}
.slogan-button {
  margin-top: 12px;
  color: white;
  text-shadow: 0px 0px 2px black;
}
.slogan-button:hover {
  color: white;
  text-shadow: 0px 0px 2px black;
}
